In [ ]:
## Movies Recommended Systems

In [ ]:
## Importing Libraies

In [ ]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
import warnings; warnings.simplefilter('ignore')

In [ ]:
md=pd.read_csv('/content/drive/MyDrive/Notes/Datasets/movies_metadata.csv')
md.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
md['genres']=md['genres'].fillna('[]')

In [ ]:
md.head(100)

    adult  ... vote_count
0   False  ...     5415.0
1   False  ...     2413.0
2   False  ...       92.0
3   False  ...       34.0
4   False  ...      173.0
..    ...  ...        ...
95  False  ...      695.0
96  False  ...       13.0
97  False  ...        4.0
98  False  ...       67.0
99  False  ...      285.0

[100 rows x 24 columns]

In [ ]:
list1='[1,2,3,4,5]'

In [ ]:
list1

'[1,2,3,4,5]'

In [ ]:
list1[0]

'['

In [ ]:
list_eval=eval(list1)

In [ ]:
list_eval

[1, 2, 3, 4, 5]

In [ ]:
list_eval[0]

1

In [ ]:
literal_eval(list1)[0]

1

In [ ]:
md['genres']=md['genres'].apply(literal_eval)

In [ ]:
md.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
md['genres']=md['genres'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [ ]:
md.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
md[md['vote_count'].notnull()]

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45460 rows x 24 columns]

In [ ]:
vote_count=md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_count

0        5415
1        2413
2          92
3          34
4         173
         ...
45461       1
45462       3
45463       6
45464       0
45465       0
Name: vote_count, Length: 45460, dtype: int64

In [ ]:
vote_average=md[md['vote_average'].notnull()]['vote_average'].astype('int')
vote_average

0        7
1        6
2        6
3        6
4        5
        ..
45461    4
45462    9
45463    3
45464    0
45465    0
Name: vote_average, Length: 45460, dtype: int64

In [ ]:
top_movies=md.copy()

In [ ]:
top_movies1=top_movies.sort_values('vote_average',ascending=False).head(250)

In [ ]:
top_movies1

       adult belongs_to_collection  budget  ...  video vote_average vote_count
21642  False                   NaN       0  ...  False         10.0        1.0
15710  False                   NaN       0  ...  False         10.0        1.0
22396  False                   NaN       0  ...  False         10.0        1.0
22395  False                   NaN       0  ...  False         10.0        1.0
35343  False                   NaN  300000  ...  False         10.0        1.0
...      ...                   ...     ...  ...    ...          ...        ...
35428  False                   NaN       0  ...  False          9.0        2.0
24882  False                   NaN       0  ...  False          9.0        1.0
4183   False                   NaN       0  ...  False          9.0        2.0
36345  False                   NaN       0  ...  False          9.0        1.0
30212  False                   NaN       0  ...  False          9.0        1.0

[250 rows x 24 columns]

In [ ]:
top_movies2=top_movies[top_movies['vote_count']>1000]

In [ ]:
top_movies2

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
5      False  ...     1886.0
9      False  ...     1194.0
15     False  ...     1343.0
...      ...  ...        ...
43644  False  ...     2083.0
44009  False  ...     2002.0
44274  False  ...     1675.0
44678  False  ...     2712.0
44842  False  ...     1440.0

[1120 rows x 24 columns]

In [ ]:
top_movies2.sort_values('vote_average',ascending=False).head(250)

       adult  ... vote_count
314    False  ...     8358.0
40251  False  ...     1030.0
834    False  ...     6024.0
1152   False  ...     3001.0
1176   False  ...     2405.0
...      ...  ...        ...
11353  False  ...     2120.0
24241  False  ...     4600.0
13893  False  ...     5435.0
23561  False  ...     4657.0
12368  False  ...     1414.0

[250 rows x 24 columns]

  ## Weighted Rating (WR)=((*v*/*v*+m).R)+((m/*v*+m).C)

  Where,

  -> v is the no. of no. of votes.

  -> m is the minimum no. of votes required for to be in the list.

  -> R is the average rating of the movie.

  -> C is the mean vote across the whole report. 

  The next step is to determine an appropriate value for m, the minimum votes required to be listed in the chart. We will use 50 Percentile or Median as our cutoff. In Other words, for a movie to feature in the charts, It must have more votes than at least 95% of the Movies in the list.
  
  I will build our Overall top 250 Chart and we will define a function to build charts for a particular genre. Let's Begin!!

In [ ]:
vote_count=md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages=md[md['vote_average'].notnull()]['vote_average'].astype('int')
C=vote_averages.mean()
C

5.244896612406511

In [ ]:
m=vote_count.quantile(0.95)
m

434.0

In [ ]:
top_movies['year']=pd.to_datetime(top_movies['release_date'],errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [ ]:
top_movies.head()

   adult                              belongs_to_collection  ... vote_count  year
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...     5415.0  1995
1  False                                                NaN  ...     2413.0  1995
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       92.0  1995
3  False                                                NaN  ...       34.0  1995
4  False  {'id': 96871, 'name': 'Father of the Bride Col...  ...      173.0  1995

[5 rows x 25 columns]

In [ ]:
top_movies3=top_movies[(top_movies['vote_count'] >= m)& (top_movies['vote_count'].notnull()) & (top_movies['vote_average'].notnull())][['title','year','vote_count','vote_average','popularity','genres']]
top_movies3['vote_count']=top_movies3['vote_count'].astype('int')
top_movies3['vote_average']=top_movies3['vote_average'].astype('int')
top_movies3.shape

(2274, 6)

In [ ]:
def weighted_rating(x):
  v=x['vote_count']
  R=x['vote_average']
  return (v/(v+m)*R)+(m/(m+v)*C)

In [ ]:
top_movies3['weight_rate']=top_movies3.apply(weighted_rating,axis=1)

In [ ]:
top_movies3=top_movies3.sort_values('weight_rate',ascending=False).head(10)

In [ ]:
top_movies3

                                                   title  ... weight_rate
15480                                          Inception  ...    7.917588
12481                                    The Dark Knight  ...    7.905871
22879                                       Interstellar  ...    7.897107
2843                                          Fight Club  ...    7.881753
4863   The Lord of the Rings: The Fellowship of the Ring  ...    7.871787
292                                         Pulp Fiction  ...    7.868660
314                             The Shawshank Redemption  ...    7.864000
7000       The Lord of the Rings: The Return of the King  ...    7.861927
351                                         Forrest Gump  ...    7.860656
5814               The Lord of the Rings: The Two Towers  ...    7.851924

[10 rows x 7 columns]

## Top Movies

In [ ]:
genre_TM=top_movies.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
genre_TM.name='genre'
genre_top_movies=top_movies.drop('genres',axis=1).join(genre_TM)

In [ ]:
genre_top_movies

       adult  ...      genre
0      False  ...  Animation
0      False  ...     Comedy
0      False  ...     Family
1      False  ...  Adventure
1      False  ...    Fantasy
...      ...  ...        ...
45463  False  ...     Action
45463  False  ...      Drama
45463  False  ...   Thriller
45464  False  ...        NaN
45465  False  ...        NaN

[93548 rows x 25 columns]

In [ ]:
def build_chart(genre, percentile=0.85):
  df=genre_top_movies[genre_top_movies['genre']==genre]
  vote_counts=df[df['vote_count'].notnull()]['vote_count'].astype('int')
  vote_averages=df[df['vote_average'].notnull()]['vote_average'].astype('int')
  C=vote_averages.mean()
  m=vote_counts.quantile(percentile)
  qualified=df[(df['vote_count']>=m)&(df['vote_count'].notnull()) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title','year','vote_count','vote_average','popularity']]
  qualified['vote_count']=qualified['vote_count'].astype('int')
  qualified['vote_average']=qualified['vote_average'].astype('int')

  qualified['wr']=qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
  qualified=qualified.sort_values('wr',ascending=False).head(250)
  return qualified

In [ ]:
build_chart('Animation').head(10)

                        title  year  ...  popularity        wr
359             The Lion King  1994  ...     21.6058  7.909339
5481            Spirited Away  2001  ...     41.0489  7.875933
9698     Howl's Moving Castle  2004  ...      16.136  7.772103
2884        Princess Mononoke  1997  ...     17.1667  7.771305
5833       My Neighbor Totoro  1988  ...     13.5073  7.735274
40251              Your Name.  2016  ...   34.461252  7.589820
5553   Grave of the Fireflies  1988  ...    0.010902  7.570962
19901                Paperman  2012  ...     7.19863  7.465676
39386                   Piper  2016  ...   11.243161  7.285132
20779           Wolf Children  2012  ...     10.2495  7.281198

[10 rows x 6 columns]

In [ ]:
 build_chart('Family').head(10)

                       title  year  ...  popularity        wr
1225      Back to the Future  1985  ...     25.7785  7.893053
359            The Lion King  1994  ...     21.6058  7.879754
5481           Spirited Away  2001  ...     41.0489  7.835635
5833      My Neighbor Totoro  1988  ...     13.5073  7.650968
926    It's a Wonderful Life  1946  ...     15.0316  7.490637
19901               Paperman  2012  ...     7.19863  7.301918
39386                  Piper  2016  ...   11.243161  7.071694
20779          Wolf Children  2012  ...     10.2495  7.066709
31658                  Feast  2014  ...     7.36566  6.980490
25044        Song of the Sea  2014  ...     6.96736  6.980490

[10 rows x 6 columns]

In [ ]:
 build_chart('Action').head(10)

                                                   title  ...        wr
15480                                          Inception  ...  7.955099
12481                                    The Dark Knight  ...  7.948610
4863   The Lord of the Rings: The Fellowship of the Ring  ...  7.929579
7000       The Lord of the Rings: The Return of the King  ...  7.924031
5814               The Lord of the Rings: The Two Towers  ...  7.918382
256                                            Star Wars  ...  7.908327
1154                             The Empire Strikes Back  ...  7.896841
4135                                            Scarface  ...  7.802046
9430                                              Oldboy  ...  7.711649
1910                                       Seven Samurai  ...  7.426145

[10 rows x 6 columns]

In [ ]:
## Content Based Recommender

In [ ]:
links_small=pd.read_csv('/content/drive/MyDrive/Notes/Datasets/links_small.csv')
links_small=links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [ ]:
top_movies=top_movies.drop([19730,29503,35587])

In [ ]:
top_movies['id']=top_movies['id'].astype('int')

In [ ]:
top_movies4=top_movies[top_movies['id'].isin(links_small)]
top_movies4.shape

(9099, 25)

In [ ]:
top_movies4.head()

   adult                              belongs_to_collection  ... vote_count  year
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...     5415.0  1995
1  False                                                NaN  ...     2413.0  1995
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       92.0  1995
3  False                                                NaN  ...       34.0  1995
4  False  {'id': 96871, 'name': 'Father of the Bride Col...  ...      173.0  1995

[5 rows x 25 columns]

In [ ]:
## Movie Description Based Recommender
## Let us try to build a recommender using movie descriptions & taglines. We do not have a quantitative metric to judge our machine's performance so this will have to be done qualitatively

In [ ]:
top_movies4['tagline']=top_movies4['tagline'].fillna('')
top_movies4['description']=top_movies4['overview'] + top_movies4['tagline']
top_movies4['description']=top_movies4['description'].fillna('')

In [ ]:
tf=TfidfVectorizer(analyzer='word',ngram_range=(1,2),min_df=0, stop_words='english')
tfidf_matrix=tf.fit_transform(top_movies4['description'])

In [ ]:
tfidf_matrix

<9099x268124 sparse matrix of type '<class 'numpy.float64'>'
	with 540591 stored elements in Compressed Sparse Row format>

In [ ]:
 tfidf_matrix.shape

(9099, 268124)

In [ ]:
## Cosine similarity

In [ ]:
cosine_sim=linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
cosine_sim

array([[1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
        0.        ],
       [0.00680476, 1.        , 0.01531062, ..., 0.00357057, 0.00762326,
        0.        ],
       [0.        , 0.01531062, 1.        , ..., 0.        , 0.00286535,
        0.00472155],
       ...,
       [0.        , 0.00357057, 0.        , ..., 1.        , 0.07811616,
        0.        ],
       [0.00344913, 0.00762326, 0.00286535, ..., 0.07811616, 1.        ,
        0.        ],
       [0.        , 0.        , 0.00472155, ..., 0.        , 0.        ,
        1.        ]])

In [ ]:
cosine_sim[0]

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

In [ ]:
top_movies4=top_movies4.reset_index()
titles=top_movies4['title']
indices=pd.Series(top_movies4.index, index=top_movies4['title'])

In [ ]:
def get_recommendations(title):
  idx=indices[title]
  sim_scores=list(enumerate(cosine_sim[idx]))
  sim_scores=sorted(sim_scores, key=lambda x:x[1],reverse=True)
  sim_scores=sim_scores[1:31]
  movie_indices=[i[0] for i in sim_scores]
  return titles.iloc[movie_indices]

In [ ]:
get_recommendations('GoldenEye').head(10)

5172                          Octopussy
2398                   Live and Let Die
4309                      Casino Royale
5175              Never Say Never Again
2396                 For Your Eyes Only
1883                   A View to a Kill
2901        The Man with the Golden Gun
5171                You Only Live Twice
2397                    Licence to Kill
2896    On Her Majesty's Secret Service
Name: title, dtype: object

In [ ]:
get_recommendations('The Godfather').head(10)

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
Name: title, dtype: object

In [ ]:
get_recommendations('The Apartment').head(10)

1925                          Nothing in Common
5242                     Shadow of the Thin Man
5769                          The Holy Mountain
3904                                    48 Hrs.
3221                         The House of Mirth
5358                               Safety Last!
1590                     The Barefoot Executive
1961                             Running Scared
1003              The Day the Earth Stood Still
75      Things to Do in Denver When You're Dead
Name: title, dtype: object

In [ ]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object